@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(245, 235, 235);
    text-align: center;
}

header{
    background-image: linear-gradient(rgb(5, 98, 185), rgb(245, 235, 235));
    color: rgba(17, 42, 151, 0.863);
    padding: 17px;
    font-family: 'Permanent Marker', cursive;
    font-size: 25px;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 0px 112px 0px;
    height: 100%;
}

#subtitulo{
    text-align: center;
    padding: 20px;
    color: rgb(5, 98, 185);
}

div {
    display: inline-block;
    background-color: white;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.507);
    margin: 10px;
}

#div1, #div2, #div3 {
    width: 324px;
    height: 342px;
}

.imagem{
    max-width: 300px;
    max-height: 342px;
    border-radius: 25px;
    opacity: 0.5;
    transition: opacity 1s;
}

.imagem:hover{
    opacity: 1;
    cursor: pointer;
}

#p1, #p2, #p3 {
    cursor: pointer;
    font-weight: bold;
}

#p1:hover {
    background-color: rgb(5, 98, 185);
    color: #fff;
    border-radius: 25px;
}

#p2:hover {
    background-color: rgb(5, 98, 185);
    color: #fff;
    border-radius: 10px;
}

#p3:hover {
    background-color: rgb(5, 98, 185);
    color: #fff;
    border-radius: 10px;
}

footer {
    background-image: linear-gradient(0deg,rgb(5, 98, 185), rgba(245, 235, 235, 0.295));
    color: white;
    font-weight: bolder;
    text-align: center;
    padding: 20px;
}

a {
    text-decoration: none;
    color: white;
}